.product {
    .product-body {
        .product-rating {
            position: relative;
            margin: 15px 0px 10px;
            height: 20px;
            text-align: center;

            >i {
                position: relative;
                width: 16px;
                background: #FFF;
                color: #E4E7ED;
                z-index: 10;

                &.fa-star,
                &.fa-star-half-o {
                    color: #ef233c;
                }
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                height: 1px;
                background-color: #E4E7ED;
            }
        }
    }
}